@keyframes piscar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes flutuar{
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Teko', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #003605;
    background-size: 10%;
    background-image:url(../../assets/orc-angry.png),url(../../assets/orc-grudge.png),url(../../assets/Malha_Orc-02.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left, right, center;
    background-color: #003605;
    background-size: 300px, 300px, auto 100%;
}


.interface h1{
    padding: -40px 0px;
    font-size: 80px;
    font-style: italic;
    color:#FFE117;
    text-align: center;
    justify-content: center;
}

.interface h2{
    animation: piscar 1s infinite;
    font-size: 40px;
    color: #FFE117;
    text-align: center;
    justify-content: center;
}

.interface a{
    background: none;
    border: none;
    padding: 0 30px;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.interface a:hover{
    transition: 0.5s ease-in-out;
    color: #FFE117;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.interface p{
    font-size: 30px;
    color: #FFE117;
}