@keyframes piscar{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes flutuar{
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-20px);
    }
}

body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Teko', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

    background-image: url(https://media.canva.com/1/image-resize/1/550_495_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9EZlZPcy9NQUVjSmdEZlZPcy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAK24WoTni8izfk4Br3peaarColq8jYjgGPSjEcua0lbx&exp=1703204590&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAACxlRQ5SqLK_Sx-fcW90JR6MqgcIoG7zWMlp2MMhphZ4),
    url(https://media.canva.com/1/image-resize/1/550_515_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9ycXpXdy9NQUVjSnVycXpXdy8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAELtp4NyLH3DSu26_9WTWTc4rVMVhrPGkLuqOAn-w2tr&exp=1703202272&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAGhE7wjsXD5hWqH8XYGnmIG6ZzM4OPoXY7plJx2NcLKP),
    url(https://media.canva.com/1/image-resize/1/388_550_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS9xYjg4US9NQUZJZFBxYjg4US8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAKlZ2SGsU_K6umnUvq3h3pvbiN4yWQoHgOTRwUdTOJ_4&exp=1703202839&x-canva-quality=thumbnail_large&csig=AAAAAAAAAAAAAAAAAAAAAC9mTm4n1Kt6J8P-hN2tlUO2Ke4PtqE8YukaooohrqHp);
    transform: rotate(0), rotate(0), rotate(180deg);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: left, right, center;
    background-color: #003605;
    background-size: 300px, 300px, auto 100%;
}

.interface h1{
    padding: -40px 0px;
    font-size: 80px;
    font-style: italic;
    color:#FFE117;
    text-align: center;
    justify-content: center;
}

.interface h2{
    animation: piscar 1s infinite;
    font-size: 40px;
    color: #FFE117;
    text-align: center;
    justify-content: center;
}

.interface button{
    background: none;
    border: none;
    padding: 0 30px;
}

.interface button a{
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.interface button a:hover{
    transition: 0.5s ease-in-out;
    color: #FFE117;
}

.interface button:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.interface p{
    font-size: 30px;
    color: #FFE117;
}