.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: #FFE117;
    color: #003605;
    font-size: 20px;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: flex;
    font-weight: bold;
    font-weight: 200px;
}

@keyframes piscar{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.reset-btn:hover{
    animation: piscar 1s infinite;
}
